@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --gradient-primary: linear-gradient(135deg, hsl(250 95% 62%), hsl(270 80% 65%));
    }
}

* {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bg-background {
    background-color: #f5f7f9;
}

