@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --gradient-primary: linear-gradient(135deg, hsl(250 95% 62%), hsl(270 80% 65%));
    }
}

.bg-background {
    background-color: #f5f7f9;
}

